<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Cadastrar</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Cadastrar</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								<div class="form-group">
									<label for="name">Nome Completo</label>
									<input id="name" type="text" class="form-control" name="name" required autofocus>
									<div class="invalid-feedback">
										Insira seu Nome Completo
									</div>
								</div>

								<div class="form-group">
									<label for="email">E-Mail</label>
									<input id="email" type="email" class="form-control" name="email" required>
									<div class="invalid-feedback">
										Seu e-mail é inválido
									</div>
								</div>
								
								<div class="form-group">
									<label for="email">Tel/Cell</label>
									<input id="contato" type="number" class="form-control" name="contato" required="" placeholder="(DDD)...">
									<div class="invalid-feedback">
										Insira seu número
									</div>
								</div>
								
								<div class="form-group">
									<label for="email">Empresa</label>
									<input id="empresa" type="text" class="form-control" name="empresa" required="">
									<div class="invalid-feedback">
										Insira sua empresa
									</div>
								</div>

								<div class="form-group">
									<label for="email">Cargo</label>
									<input id="cargo" type="text" class="form-control" name="cargo" required="">
									<div class="invalid-feedback">
										Insira seu cargo
									</div>
								</div>								
	
								<div class="form-group">
									<label for="password">Senha</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
									<div class="invalid-feedback">
										Insira a Senha
									</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
										<label for="agree" class="custom-control-label">Eu concordo com <a href="#">Termos e Condições</a></label>
										<div class="invalid-feedback">
											Você deve concordar com o termos e condições
										</div>
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Cadastrar
									</button>
								</div>
								<div class="mt-4 text-center">
									Você já tem uma conta? <a href="index.html">Login</a>
								</div>
							</form>
						</div>
					</div>
					
					<img width="45" src="http://maloteweb.com.br/login/img/beta.png" alt="versão beta" class="beta">
					
					<div class="footer">
						Copyright &copy; 2020 &mdash; <img src="https://gdigital.com.br/files/sites/6/2019/08/logo-g-.webp" alt="G Digital Logo" alt="G Digital" width="60" target="_blank"> 
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/login.js"></script>
</body>
</html>